[Unit]
Description=Flask
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/flask/calc_nums
ExecStart=/flask_app/.venv/bin/gunicorn --bind 0.0.0.0:5000 application:app 

[Install]
WantedBy=multi-user.target
